NEXTAUTH_SECRET=replace_me
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
NEXT_PUBLIC_AI_KEY=
NEXT_PUBLIC_OPENAI_API_KEY=
NEXT_PUBLIC_REPLICATE_API_KEY=
DATABASE_URL="postgresql://user:password@localhost:5432/property_market?schema=public"
